<!DOCTYPE html>
<html>
  <head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="go_fish.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="container">
      <div class="navigation__container">
      </div>
      <div class="main_menu__container">
        <button type="button" class="menu__buttons">
          <a href="#">2 Player</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">3 Player</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">4 Player</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">5 Player</a>
        </button>
      </div>

    </div>

  </body>
</html>
