<!DOCTYPE html>
<html>

<head>
  <title>Go Fish App</title>
  <link rel="stylesheet" type="text/css" href="go_fish.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="flex_container">
    <div class="signin__container">
      <h1 class="heading orange">Go Fish!</h1>
      <h1 class="signin__title orange">Sign In</h1>
      <form class="signin__form">
          <span class="signup__label--username orange">Username</span>
        <input type="text" class="signup__input--username orange" value="e.g. johndoe@hotmail.com">
          <span class="signup__label--password orange">Password</span>
        <input type="text" class="signup__input--password orange" value="e.g. •••••••••">
        <a href="#"><input type="submit" class="signup__button--newuser orange" value="New user?"></a>
        <a href="#"><input type="submit" class="signup__button--forgot orange" value="Forgot password?"></a>
        <input type="submit" class="signup__button--login button_details" value="Login" href="/Users/justin/code/rolemodel/go_fish_card_game/views/main_menu.html">
      </form>
    </div>
  </div>
</body>

</html>
