<!DOCTYPE html>
<html>
  <head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="go_fish.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="container">
      <div class="navigation__container">
        <a href="#" class="navigation__button--chevron"><img src="/images/chevron_left.png" alt="chevron_left icon"></a>
        <a href="#" class="navigation__button--settings"><img src="/images/settings_icon.png" alt="settings icon"></a>
      </div>
      <div class="main_menu__container">
        <button type="button" class="menu__buttons">
          <a href="#">Play Game</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">Leaderboard</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">How to Play</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">Settings</a>
        </button>
      </div>
    </div>
  </body>
</html>
