<!DOCTYPE html>
<html>
  <head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="container">
      <div class="navigation__container flex_row">
        <a href="#" class="navigation__item navigation__item--back"><img src="../assets/images/back_arrow.png" alt="chevron_left icon"></a>
        <h1 class="navigation__title">Welcome</h1>
        <a href="#" class="navigation__item navigation__item--settings"><img src="../assets/images/settings_icon_small.png" alt="settings icon"></a>
      </div>
      <div class="main_menu__container flex_column">
        <button type="button" class="menu__buttons">
          <a href="./game_size.html">Play Game</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">Leaderboard</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">How to Play</a>
        </button>
        <button type="button" class="menu__buttons">
          <a href="#">Settings</a>
        </button>
      </div>
    </div>
  </body>
</html>
